---
layout: hp
title: Featured Posts
permalink: /blog
mathjax: true
---
<!--<h1 class="featured-blog-title" >Featured Posts</h1>-->
<h2 class="blog-subtitle">Ramblings on Security, (Cryptography, and Math).</h2>
<a class="archive-blog-link" href=/blog/archive>Archive</a>
<br>
<ul class="post-list">
  {% for post in site.posts %}
  {% if post.featured %}
  <li class="post-list-item">
  <div class="shared-post-header">
    <h2>
      <a class="shared-post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
    <span class="post-date">{{ post.date | date: "%B %-d, %Y" }}</span>
  </div>
  <div class="post-excerpt-main">
    {{ post.excerpt }}
  </div>
  </li>
  {% endif %}
  {% endfor %}
</ul>
