---
title: reo
layout: homepage
permalink: /
---

<!DOCTYPE html>
<html style="height: 100%;" lang="en">
  
  <body style="position: relative; min-height: 100%; top: 0px;">
    <!--
    <div id="view">
      <canvas style="touch-action: none; width: 1908px; height: 670px; cursor: inherit;" width="1908" height="670"></canvas>
    </div>
    -->
    <div id="menu" style="display: block;">
      <h1><span style="color:#bfbfbf"></span>REO</h1>
      <h2>"Leo homepage"</h2>
      <p><a href="/about/">ABOUT</a></p>
      <p><a href="/blog/">BLOG</a></p>
      <p><a href="/sound/">SOUND</a></p>
      <p><a href="/projects/">PROJECTS</a></p>
      {% if site.youtube_username %}
      <p class="spa"><a href="https://www.youtube.com/user/{{site.youtube_username}}" target="_blank">YOUTUBE</a></p>
      {% endif %}
      <p><a href="http://www.nicovideo.jp/mylist/4009728#+sort=8" target="_blank" class="nico" style="display: none;">NICONICO</a></p>
      {% if site.twitter_username %}
      <p><a href="https://twitter.com/{{site.twitter_username}}" target="_blank">TWITTER</a></p>
      {% endif %}
      <p class="spa"><a href="/discography/" style="display:none">DISCOGRAPHY</a></p>
    </div>
  </body>
</html>

