
<div class="wrapper">
  <center> <a href="/blog/index.html"><div class="blog-title">Music, Math, Code</div></a></center>
</div>
<div class="wrapper blog-description">
<center> 毎週の歌曲、勉強など     |       Weekly Lied, Study etc. </center>
</div>
<div class="wrapper">
  <div class="trigger site-navigation">
    <a class="page-link" href="{{site.url}}{{site.baseurl}}">HOMEPAGE</a>

    {% for sitePage in site.pages %}
    {% if sitePage.title %}
    {% if sitePage.layout == "homepage" %}
    <!-- do not include -->
    {% else %}
    <span class="exclamationMark">/</span><a class="page-link" href="{{sitePage.url | prepend:site.baseurl }}">{{sitePage.title | upcase}}</a>
    {% endif %}
    {% endif %}
    {% endfor %}
  </div>
</div>
