<title>reo</title>
<meta name="description" content="Leop homepage">

<meta property="og:locale" content="en_CA">
<meta property="og:site_name" content="LeoG Homepage">
<meta property="og:title" content="reo">
<meta property="og:url" content="https://reo.github.io/blog">
<meta property="og:type" content="article">
<meta property="og:description" content="on Cryptography, Malware, and Math">
<meta property="og:image" content="https://reo.github.io/assets/images/thumb-smal.jpg">
<meta property="og:image:width" content="1199">
<meta property="og:image:height" content="800">

<meta itemprop="name" content="Leogp Blog">
<meta itemprop="url" content="https://reo.github.io/blog">
<meta itemprop="description" content="on Cryptography, Malware, and Math">
<meta itemprop="thumbnailUrl" content="https://reo.github.io/assets/images/thumb-smal.jpg">
<link rel="image_src" href="https://reo.github.io/assets/images/thumb-smal.jpg">
<meta itemprop="image" content="https://reo.github.io/assets/images/thumb-smal.jpg">
<meta itemprop="author" content="Leo">
<meta itemprop="datePublished" content="2021-02-10T10:55:54-0500">
<meta itemprop="dateModified" content="2021-06-21T10:01:18-0500">
<meta itemprop="headline" content="Leogp Homepage \u2014 Blog: on Cryptography, Malware, and Math">
<meta itemprop="publisher" content="Leogp">

<meta name="twitter:title" content="Leogp Homepage">
<meta name="twitter:image" content="https://reo.github.io/assets/images/thumb-smal.jpg">
<meta name="twitter:url" content="https://reo.github.io/blog">
<meta name="twitter:card" content="summary">
<meta name="twitter:description" content="Leogp Homepage \u2014 Blog: on Cryptography, Malware, and Math">
<meta name="description" content="">

<link rel="stylesheet" href="/assets/css/main.css">

<script type="application/ld+json">{"name":"Leogp Homepage \u2014 Blog: on Cryptography, Malware, and Math","url":"https://reo.github.io/blog","datePublished":"2021-02-10T10:55:54-0500","dateModified":"2021-06-21T10:01:18-0500","headline":"Leogp Homepage \u2014 Blog: on Cryptography, Malware, and Math","author":"Leonardo G.","publisher":{"name":"Self-Published","logo":{"@type":"ImageObject"},"@context":"http://schema.org","@type":"Organization"},"image":"https://reo.github.io/assets/images/thumb-smal.jpg","@context":"http://schema.org","@type":"Article"}</script>

{% include head_global.html %}
