<title>reo</title>
<meta name="description" content="Leop homepage">

<meta property="og:title" content="reo">
<meta property="og:description" content="Leogp homepage">
<meta property="og:image" content="/assets/images/site-cover-adi-goldstein.jpg">

<meta itemprop="thumbnailUrl" content="/assets/images/site-cover-adi-goldstein.jpg">
<meta itemprop="image" content="/assets/images/site-cover-adi-goldstein.jpg">
<meta name="twitter:image" content="/assets/images/site-cover-adi-goldstein.jpg">

<link rel="image_src" href="/assets/images/site-cover-adi-goldstein.jpg">

<link rel="stylesheet" href="/assets/css/main.css">

<script type="application/ld+json">{"name":"Leogp Homepage \u2014 Blog: on Cryptography, Malware, and Math","url":"https://reo.github.io/blog.html","datePublished":"2021-02-10T10:55:54-0500","dateModified":"2021-06-21T10:01:18-0500","headline":"Leogp Homepage \u2014 Blog: on Cryptography, Malware, and Math","author":"Leonardo G.","publisher":{"name":"Self-Published","logo":{"@type":"ImageObject"},"@context":"http://schema.org","@type":"Organization"},"image":"https://reo.github.io/assets/images/site-cover-adi-goldstein.jpg","@context":"http://schema.org","@type":"Article"}</script>

{% include head_global.html %}
