<title>reo</title>
<meta name="description" content="Leop homepage">

<meta property="og:title" content="reo">
<meta property="og:description" content="Leogp homepage">
<meta property="og:image" content="/assets/images/site-cover-adi-goldstein.jpg">

<meta itemprop="thumbnailUrl" content="/assets/images/site-cover-adi-goldstein.jpg">
<meta itemprop="image" content="/assets/images/site-cover-adi-goldstein.jpg">
<meta name="twitter:image" content="/assets/images/site-cover-adi-goldstein.jpg">
<meta name="twitter:image" content="/assets/images/site-cover-adi-goldstein.jpg">

<link rel="image_src" href="/assets/images/site-cover-adi-goldstein.jpg">

<link rel="stylesheet" href="/assets/css/main.css">

{% include head_global.html %}
