
<div class="sub-contents">
<h2 class="title">{{page.title}}</h2>
<div class="{{page.title}}-container">
<div class="{{page.title}}-content">

<div id="menu" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  {% for sitePage in site.pages %}
  {% if sitePage.layout == homepage %}
  {% if sitePage.title %}
  <!-- Strikethrough current page -->
  <a href="{{page.title}}"
  {% if sitePage.title == page.title %} style="text-decoration:line-through"{% endif %}>sitePage.title</a>
  {% endif %}
  {% endif %}
  {% endfor %}
</div>

{{content}}

</div>
</div>
</div>
