<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{% if site.theme-dark %} dark {% else %} light {% endif %} ">

    <div class="content">
      
    {% include header.html %}

    <div class="wrapper">

      <!-- Archive navigation -->
      <div class="sidenav">
	<h2>Archive</h2>
	<p class="side-years collapsible">2019</p>
	<div class="collap-content">
	  <p><a href="#">January&ensp;2019</a></p>
	</div>
      </div>

      <!-- short blog posts -->
      <div class="main-content">
	{{ content }}
      </div>
    </div>

    {% include footer.html %}

    </div>

    <script>
      var coll = document.getElementsByClassName("collapsible");
      var i;

      for (i = 0; i < coll.length; i++) {
	coll[i].addEventListener("click", function() {
	  this.classList.toggle("collap-active");
	  var content = this.nextElementSibling;
	  if (content.style.maxHeight){
	    content.style.maxHeight = null;
	  } else {
	    content.style.maxHeight = content.scrollHeight + "px";
	  } 
	});
      }
    </script>
    
  </body>

</html>
