<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <!-- Dark theme if wanted: -->
  <!-- {% if site.theme-dark %} dark {% else %} light {% endif %} -->
  <body id="aidnx" style="position: relative; min-height: 100%; top: 0px;" class="{% if page.name %} {{page.name}} {% endif %}" >
    
  {% if page.level %}
  <nav id="subSidebar" class="sidenav collapse">
    <!-- close button div -->
    <div id="menu" style="display:block; width:100%">
      <a href="javascript:void(0)" class="closebtn hide-large"
      style="line-height: 0.35; font-size:9.5vmax; margin-left:calc(16rem + 20vmin - 13vmax)" onclick="close_nav()">&times;</a>
    </div>
    <!-- items div -->
    <div id="menu" class="sidenav-items" style="display:block; width:100%">
      <p><a href="{{site.url}}{{site.base-url}}">TOP</a></p>
      <!-- [> Strikethrough current page <] -->
      {% for sitePage in site.pages %}
      {% if sitePage.layout == "homepage" %}
      {% if sitePage.title %}
      {% if sitePage.title == "reo" %}
      {% else %}
      <p><a {% if sitePage.title == page.title %} style="text-decoration:line-through; opacity:1" {% else%} href="/{{sitePage.title | downcase}}" {% endif %}>{{sitePage.title | upcase}}</a></p>
      {% endif %}
      {% endif %}
      {% endif %}
      {% endfor %}
    </div>
  </nav>

  <div class="overlay hide-large" onclick="close_nav()" style="cursor:pointer"
    title="close side menu" id="overlay"></div>
  
  <div class="sub-contents">
    <span class="hide-large" style="font-size:30px; cursor:pointer; position:fixed; top:3vh; left:1.2vw" onclick="open_nav()">&#9776;</span>
    <h2 class="title">{{page.title}}</h2>
    
    <div class="{{page.title | downcase}}-container">
      <div class="{{page.title | downcase}}-content">

	{{content}}

      </div>
    </div>
  </div>
  
  <script>
    // Open and close sidebar
    function open_nav() {
      document.getElementById("subSidebar").style.width = "calc(16rem + 20vmin)";
      document.getElementById("overlay").style.display = "block";
    }
    function close_nav() {
      document.getElementById("subSidebar").style.width = "0px";
      document.getElementById("overlay").style.display = "none";
    }
  </script>

  {% else %}
  <!-- May add wrapper for entire homepage content eventually -->
  <!--   <div class="homepage-content"> -->
  <!--     <div class="wrapper"> -->
  {{ content }}
  <!--     </div> -->
  <!--   </div> -->
  {% endif %}

  </body>

</html>
